h1{
    font-family: fantasy;
    font-size: 60px;
    color: aliceblue;
}
h2{
    color:rgb(77, 23, 49);
    font-family: constancia;
    font-size: 36px;
}

p{
    font-family:sylfaen ;
    font-size: 18px;
    color: black;
}

 .grid-container {
    position: center;
    padding: 20%;
    display: grid;
    grid-template-columns:33% 33% 33% ;
    grid-template-rows: 10% 15% 55% 10% 10%;
    padding: 10px;
    width: 100vw;
    height:100vh;


 }

 .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
  }  

  #title {
    grid-column: 2;
    grid-row: 1;    
    }

    #Shera {
        grid-column: 2;
        grid-row: 2;
    }


    #carousel{
        grid-column: 2;
        grid-row: 3;
    }

    
#otherButtons{
   padding-top: 40vh;
    grid-column: 1;
    grid-row: 3;
}
#otherButtons2{
    
   vertical-align: end;
    grid-column: 1;
    grid-row: 4;
}

#artist{
    text-align: end;
    grid-column: 3;
    grid-row: 5;
}